/article.py
/article1
/Climate Change
/compare.py
/dataset.py
/Earthquake
/Earthquake - Metadata.csv
/ekg.png
/extra
/extraa.py
/FIFA World Cup
/FIFAWorldCup - Metadata.csv
/GlobalWarming - Metadata.csv
/global_Warming_images.csv
/harvard
/i1.PNG
/i2.PNG
/i3.PNG
/i4.PNG
/images.py
/imgs.py
/IP paper.pdf
/output.pdf
/output.xml
/tp.py
/tp2.py
/video.py